[Unit]
Description=Ubiquity docker plugin service
Documentation=https://github.com/IBM/ubiquity-docker-plugin
After=network.target
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=ubiquity
ExecStart=/usr/bin/ubiquity-docker-plugin \
          --config /etc/ubiquity/ubiquity-client.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
